<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Account verified</title>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #333333;
        }

        h1 {
            color: #006699;
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            margin-top: 50px;
        }

        p {
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
        }
    </style>
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-Tv1CtInxIcunAah0b0i8OvFZtx/RV7TuRyjWOTVr6vMzq3sUNjKZpWKMVChsPvnzFN9h3qoi3/o6GGYUaP+UQw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> #}
</head>
<body>
    <h1>Account verified</h1>
    <p>Votre compte a été vérifié avec succès.</p>
    {# <i class="fas fa-check-circle"></i> #}
</body>
</html>